# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-version
.flutter-version
pubspec.lock

# Android
/android/.gradle/
/android/app/*.iml
/android/local.properties

# iOS
/ios/Flutter/Generated.xcconfig
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/Podfile.lock
/ios/Runner.xcworkspace/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/GeneratedPluginRegistrant.*
**/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata/
*.xcuserstate

# macOS
/macos/Flutter/Flutter.framework
/macos/Flutter/Flutter.podspec
/macos/Runner.xcworkspace/
/macos/Pods/
/macos/Flutter/ephemeral/

# Linux
/linux/flutter/
/linux/Flutter/

# Windows
/windows/flutter/
/windows/Flutter/

# Visual Studio Code
.vscode/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Misc
.DS_Store
*.log
*.lock
*.tmp
*.swp
